 # Database connexion
EXPO_PUBLIC_SUPABASE_URL=
SUPABASE_ANON_KEY=

#Opein AI connexion
API_OPENAI_KEY=
EXPO_PUBLIC_OPENAI_MODEL=gpt-4.1-nano

#Google Sing in key
GOOGLE_SIGN_IN_CLIENT_ID=

EXPO_PUBLIC_BRAND_LOGO=pokemon