 # Database connexion
EXPO_PUBLIC_SUPABASE_URL=
SUPABASE_ANON_KEY=

#Opein AI connexion
API_OPENAI_KEY=
EXPO_PUBLIC_OPENAI_MODEL=gpt-4.1-nano

#Google Sing in key
GOOGLE_SIGN_IN_CLIENT_ID=

# RevenueCat API Keys pour les abonnements
EXPO_PUBLIC_REVENUECAT_IOS_API_KEY=appl_your_ios_api_key_here
EXPO_PUBLIC_REVENUECAT_ANDROID_API_KEY=goog_your_android_api_key_here

EXPO_PUBLIC_BRAND_LOGO=pokemon